legacy-peer-deps=true
node-linker=hoisted
public-hoist-pattern[]=*tailwindcss*
public-hoist-pattern[]=*postcss*
# Prevent caching of Prisma packages
prefer-frozen-lockfile=false
save-exact=true
# Force reinstall of Prisma packages
#ignore-scripts=false 